<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="eng">
  <head>
    <title>documento XHTML 1.0 Strict</title>
    <meta vharset="utf-8"/>
  </head>
  <boby>
    <h1>Documento XHTML 1.0 Strict</h1>
    <hr/>
    <p>ejemplo de un documento xhtml 1.0 strict desde jade.</p>
  </boby>
</html>


doctype strict
html(lang="eng")
  head
    title documento XHTML 1.0 Strict
    meta(vharset="utf-8")
  boby
    h1 Documento XHTML 1.0 Strict
    hr
    p ejemplo de un documento xhtml 1.0 strict desde jade.