doctype strict
html(lang="eng")
  head
    title documento XHTML 1.0 Trancitional
    meta(vharset="utf-8")
  boby
    h1 Documento XHTML 1.0 Trancitional
    p ejemplo de un documento xhtml 1.0 strict desde jade.