htnml
  head
    title documento basico
  body
    h1 documento basico
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quia ut laboriosam amet fuga. Fuga, porro odit eveniet dignissimos esse, beatae nobis harum quasi eum quae delectus omnis, similique id.