doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title lista no ordenada
  body
   li colores
    ul
      li amarillo
      li azul
      li rojo
      li blanco
      li verde
   li clases
    ul
      li tanque
      li DPS
      li Healer
      li Hunter
      li mage
   li razas
     ul
      li orcos
      li no muertos
      li elfos de sangre
      li tauren
      li trols