doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title lista no ordenada
  body
    ol
      li presionar (CRTL + SHITFT + P)
      li Escribimos "Control package"
      li seleccionamos "install package"
      li Escribimos "emmet"
      li Seleccionamos presionando "enter"
