html(lang="es")
  head
    meta(charset="UTF-8")
    title IMAGENES
  body
    img(src="http://www.edswor.com/wp-content/gallery/starcraft/Terran_Eagle_Icon.jpg", title='Imagenes de Internet')
    img(src="http://www.edswor.com/wp-content/gallery/starcraft/Terran_Eagle_Icon.jpg", width='120px')
    img(src="http://www.edswor.com/wp-content/gallery/starcraft/Terran_Eagle_Icon.jpg", hight='100')
    
