html(lang="es")
  head
    meta(charset="UTF-8")
    title Imagenes
  body
    table(border=1)
      tr
        th Nombre Completo
        th Telefono
        th Direccion
      tr
        td Jeremias Springfield 
        td 8741122
        td calle 11 #7A - 32
      tr
        td Homero J. Springfield
        td 8766205
        td calle 55a # 11845
