html(lang="es")
  head
    meta(charset="UTF-8")
    title Document
  body
    table(border=1)
      tr
        td(colspan=5) 1
      tr
        td(rowspan=3) 2
        td a
        td b
        td c
        td(rowspan=2) d
      tr
        td(colspan=3) s
      tr
        td u
        td w
        td x
        td j
