html(lang="es")
  head
    meta(charset="UTF-8")
    title Document
    style(rel='stylesheet').
      
       table {                              border: 2px solid #abc;
          border-collapse: collapse;
            }
        table td {
          background-color:#ert;
          border: 2px solid #qwe;
          color: #888;
          font: 16px tahoma;
          padding: 20px;
          text-align:center;
           }
  body
    table(border=1)
      tr
        td(colspan=5) 1
      tr
        td(rowspan=3) 2
        td a
        td b
        td c
        td(rowspan=2) d
      tr
        td(colspan=3) s
      tr
        td u
        td w
        td x
        td j

        
