doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title contacto
    link(href='../estilos.css', rel='stylesheet')
   body
    .marcoppal
      .encabezado
       a(href='../index.html') inicio
       a(href='nosotros.html') nosotros
       a(href='servicios.html') servicios
       a(href='javascript:;') contactos
      .contenido
        h1 contacto
        img(src='imagenes/contacto.png')
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quis dolore modi tempore voluptatibus quibusdam nisi. Praesentium harum sequi tempore doloribus, beatae doloremque cumque illo! Expedita aspernatur rem possimus officia.
      .pie
        p todos los derechos reservados 2016
