html(lang="es")
  head
    meta(charset="UTF-8")
    title atributos (formulario)
  body
    h1 atributos (formulario)
    hr
    fieldset
      form(method='post')
      label(for='nombre') Nombre:
      input(type="text", id='nombre', name='nombre' required)
      br
      input(type="submit", value='Enviar')
    br
    br
    fieldset
      legend No valdiar / No Autocompletar
      form(method='post', autocomplete='off', novalidate)
      label(for='nombre') Nombre:
      input(type="text", id='nombre', name='nombre' required)
      br
      input(type="submit", value='enviar')
      