doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title ejemplo rutas relativas
    link(href='estilos.css')
   body
    .marcoppal
      .encabezado
       a(href='javascript') inicio
       a(href='secciones/nosotros') nosotros
       a(href='secciones/servicios') servicios
       a(href='secciones/contactos') contactos
      .contenido
        h1 bienvenidos a mi sitio web
        //img(src='imagenes/index.png')
        img(src='http://goo.gl/rVRXzy' width='400px')
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quis dolore modi tempore voluptatibus quibusdam nisi. Praesentium harum sequi tempore doloribus, beatae doloremque cumque illo! Expedita aspernatur rem possimus officia.
      .pie
        p todos los derechos reservados 2016
      
      
      