doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title nosotros
    link(href='estilos.css')
   body
    .marcoppal
      .encabezado
       a(href='../index.html') inicio
       a(href='javascript:;') nosotros
       a(href='servicios') servicios
       a(href='contactos') contactos
      .contenido
        h1 nosotros
        img(src='imagenes/nosotros.png')
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quis dolore modi tempore voluptatibus quibusdam nisi. Praesentium harum sequi tempore doloribus, beatae doloremque cumque illo! Expedita aspernatur rem possimus officia.
      .pie
        p todos los derechos reservados 2016
        
        
        