doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Casos
  body
    h1 Juegos personales
    - var juegos = 10
    case juegos
      when 0
        p No tienes juegos
      when 1
        p Tienes 1 juego
      default
        p Tienes #{juegos} juegos
    h3 Pocos juegos
    - var juegos = 0
    case juegos
      when 0
      when 1
        p Tienes muy pocos juegos novato
      default
        p Tiene #{friends} juegos 
    h3 juegos nivel intermedio
    - var juegos = 6
      case juegos
        when 5
        when 6
        when 7
          p Tienes buenos juegos
        default
          p Tienes #{juegos} juegos 
    h3 Buen # de juegos      
    - var juegos = 10
    case juegos
      when 8
      when 9
      when 10
        p tienes muy buenos juegos Crack!      
      default
        p Tienes #{juegos} juegos 