doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title comentarios
  body    
    //Primeros comentarios
    p Hola mundo
    p Bienvenidos a mi pagina
    //- buenos diaaaaaaaaas esto no aparece en html
    //-  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt eum et pariatur eveniet minima incidunt nam, natus debitis repellat culpa expedita accusamus quis ex similique animi officiis blanditiis dolore, rem, non velit praesentium. Alias numquam quas, doloremque quidem a. Pariatur ab molestias corporis, culpa aliquid incidunt consectetur sequi harum ullam iste quos necessitatibus ut ex accusamus. Adipisci explicabo voluptatem nesciunt perferendis repudiandae! Cupiditate culpa impedit, nulla, delectus dicta fuga fugiat illo ipsa sit magni ipsum molestias quia qui est tempora officia nobis expedita odio suscipit mollitia magnam laboriosam ad quaerat! Eius repudiandae, velit excepturi ducimus earum voluptates alias dolorem facere.