doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Document
  body
    - var title = "Tu mejor amiga? Tu Madre";
    - var author = "maicol11ce";
    - var theGreat = "<span>escape!</span>";

    h1= title
    p Eres muy bueno de #{author}
    p Cualquier cosa may: #{theGreat}
    - var msg = "Aleman";
    p Maldito fracasado #{msg.toUpperCase()}
    
  