doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Document
  body
    ul
    each val in [4*5, 2/4, 3-15, 4+20, 5-45]
      li= val
    ul
    each val, index in ['Primero Empaque', 'Despues Verifique si esta bueno o malo', 'Por ultimo termine el proceso y llevelo al jefe']
      li= index + ': ' + val
    - var values = [];
    ul
      each val in values.length ? values : ['Evaluando su proceso']
        li= val  